
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    background-color: #f0f0f0;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Centering the calculator on all screen sizes */
.container {
    width: auto;
    max-width: 460px; 
    margin: auto;
    padding: 20px;
    background: #F1EBEA;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: table; 
}


header h1, header h2 {
    text-align: center;
    margin: 10px 0;
    padding: 0 10px; 
}

header h1 {
    font-size: 16px; 
}

header h2 {
    font-size: 30px; 
}


.form-group {
    display: table-row; 
}

.form-group label, .form-group input {
    display: table-cell; 
    padding: 8px; 
    vertical-align: middle; 
}

.form-group label {
    font-weight: bold;
    text-align: right; 
    white-space: nowrap; 
}


.form-group input {
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="text"], input[type="range"], input[disabled] {
    margin-bottom: 8px; 
}


@media (max-width: 480px) {
    body {
        display: flex; 
        align-items: center;
        justify-content: center; 
    }
    .container {
        width: auto; 
        margin: 20px auto; 
    }

}
